{% load static %}
<!DOCTYPE html>
<html data-app-name="Twine" data-version="2.1.0b1" data-build-number="201702140524">
<head>
	<title>Twine</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta charset="utf-8">
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	
    <link href="{% static "twine.css" %}" rel="stylesheet" media="screen">
</head>
<body>
	<div id="main"></div>

    <form id="csrf-token" action="{% url "case:create" %}" method="post">
        {% csrf_token %}
    </form>

    <script src="{% static "twine.js" %}"></script>
</body>
</html>
